@import "tailwindcss";

h1,
h2,
p,
span {
  cursor: default;
}

.link-navbar {
  padding: 0 0.3vw;
  text-align: center;
}

input:focus {
  outline: none;
  box-shadow: none;
}

.products-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  row-gap: 2rem;
  width: 80vw;
  justify-items: center;
  margin: 3vw auto;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  row-gap: 2rem;
  width: 80vw;
  justify-items: center;
  margin: 3vw auto;
}

.btn {
  background-color: black;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  background-color: rgb(96, 96, 96);
  transition: all 0.2s ease-in-out;
}

.card-hover {
  box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.167);
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}

.card-hover:hover {
  box-shadow: -1px 3.5px 4px rgba(0, 0, 0, 0.32);
  transform: translateY(-0.15rem);
  transition: all 0.2s ease-in-out;
}

.linha {
  position: relative;
}

.linha::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -1px;
  left: 0;
  background-color: white;
  transition: all 0.3s ease;
}

.linha:hover::after {
  width: 100%;
}

.clickable {
  cursor: pointer;
}

.carousel-btn {
  position: absolute;
  font-size: 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.left {
  top: 68%;
  left: 8%;
}

.right {
  top: 68%;
  left: 90.5%;
}


/* cart */

.sombra {
  box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.32);
}

.prodsCart {
  flex-direction: column;
}

.prodCart {
  
}