version: '3.8'

services:
  db:
    image: postgres
    container_name: ecommerce-db
    restart: always
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_DB: ecommerce
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql

volumes:
  pgdata: